{% extends 'base.html.twig' %}

{% block title %}Editar Telefono{% endblock %}

{% block body %}
    <h1>Edit Telefono</h1>

    {{ include('telefono/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_telefono_index') }}">Volver</a>

    {{ include('telefono/_delete_form.html.twig') }}
{% endblock %}
