{% extends 'base.html.twig' %}

{% block title %}Nuevo Telefono{% endblock %}

{% block body %}
    <h1>Crear nuevo Telefono</h1>

    {{ include('telefono/_form.html.twig') }}

    <a href="{{ path('app_telefono_index') }}">Volver</a>
{% endblock %}
