{% extends 'base.html.twig' %}

{% block title %}Nueva Asignatura{% endblock %}

{% block body %}
<div class="container">
    <h1>Crear nueva Asignatura</h1>

    {{ include('asignatura/_form.html.twig') }}

    <a href="{{ path('app_asignatura_index') }}">Volver a la lista</a>
</div>
{% endblock %}
