{% extends 'base.html.twig' %}

{% block title %}Edit Correlativa{% endblock %}

{% block body %}
    <h1>Editar Correlativa</h1>

     {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Guardar</button>
    {{ form_end(form) }}

    <a href="{{ path('app_correlativa_index') }}">Volver a la lista</a>
{% endblock %}