{% extends 'base.html.twig' %}

{% block title %}Editar Comision{% endblock %}

{% block body %}
    <h1>Editar Comision</h1>

    {{ include('comision/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_comision_index') }}">Volver</a>

    {{ include('comision/_delete_form.html.twig') }}
{% endblock %}
