{% extends 'base.html.twig' %}

{% block title %}New ExamenAlumno{% endblock %}

{% block body %}
<div class="container">

    <h1>Create new ExamenAlumno</h1>

    {{ include('examen_alumno/_form.html.twig') }}

    <a href="{{ path('app_examen_alumno_index') }}">Volver a la lista</a>
</div>
{% endblock %}
