{% extends 'base.html.twig' %}

{% block title %}Turno{% endblock %}

{% block body %}
    <h1>Turno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ turno.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_turno_index') }}">Volver</a>

    <a href="{{ path('app_turno_edit', {'id': turno.id}) }}">Editar</a>

    {{ include('turno/_delete_form.html.twig') }}
{% endblock %}
