{% extends 'base.html.twig' %}

{% block title %}Editar Cursada{% endblock %}

{% block body %}
    <h1>Editar Cursada</h1>

    {{ include('cursada/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_cursada_index') }}">Volver</a>

    {{ include('cursada/_delete_form.html.twig') }}
{% endblock %}
