{% extends 'base.html.twig' %}

{% block title %}Cursada{% endblock %}

{% block body %}
    <h1>Cursada</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Ciclo_lectivo</th>
                <td>{{ cursada.cicloLectivo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cursada_index') }}">Volver</a>

    <a href="{{ path('app_cursada_edit', {'id': cursada.id}) }}">Editar</a>

    {{ include('cursada/_delete_form.html.twig') }}
{% endblock %}
