{% extends 'base.html.twig' %}

{% block title %}New CursadaDocente{% endblock %}

{% block body %}
    <h1>Create new CursadaDocente</h1>

    {{ include('cursada_docente/_form.html.twig') }}

    <a href="{{ path('app_cursada_docente_index') }}">back to list</a>
{% endblock %}
