{% extends 'base.html.twig' %}

{% block title %}Nueva Preinscripcion{% endblock %}

{% block body %}
    <h1>Crear nueva Preinscripcion</h1>

{{ include('preinscripcion/_form.html.twig') }}

    <a href="{{ path('app_preinscripcion_index') }}">Volver</a>
{% endblock %}
