{% extends 'base.html.twig' %}

{% block title %}Nueva Persona{% endblock %}

{% block body %}
    <h1>Crear nueva Persona</h1>

    {{ include('persona/_form.html.twig') }}

    <a href="{{ path('app_persona_index') }}">Volver</a>
{% endblock %}
