{% extends 'base.html.twig' %}

{% block title %}Nueva OfertaEducativa{% endblock %}

{% block body %}
    <h1>Crear nueva OfertaEducativa</h1>

    {{ include('ofertaeducativa/_form.html.twig') }}

    <a href="{{ path('app_ofertaeducativa_index') }}">Volver</a>
{% endblock %}
