<form method="post" action="{{ path('app_oferta_educativa_delete', {'id': oferta_educativa.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oferta_educativa.id) }}">
    <button class="btn">Eliminar</button>
</form>
