{% extends 'base.html.twig' %}

{% block title %}Editar Instituto{% endblock %}

{% block body %}
    <h1>Editar Instituto</h1>

    {{ include('instituto/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_instituto_index') }}">Volver</a>

    {{ include('instituto/_delete_form.html.twig') }}
{% endblock %}
