{% extends 'base.html.twig' %}

{% block title %}Editar Pais{% endblock %}

{% block body %}
    <h1>Editar Pais</h1>

    {{ include('pais/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_pais_index') }}">Volver</a>

    {{ include('pais/_delete_form.html.twig') }}
{% endblock %}
