{% extends 'base.html.twig' %}

{% block title %}Paises{% endblock %}

{% block body %}
    <h1>Paises</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pai in pais %}
            <tr>
                <td>{{ pai.descripcion }}</td>
                <td>
                    <a href="{{ path('app_pais_show', {'id': pai.id}) }}">Mostrar</a>
                    <a href="{{ path('app_pais_edit', {'id': pai.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no se encontraron datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pais_new') }}">Crear</a>
{% endblock %}
