{% extends 'base.html.twig' %}

{% block title %}Nueva Provincia{% endblock %}

{% block body %}
    <h1>Crear nueva Provincia</h1>

    {{ include('provincia/_form.html.twig') }}

    <a href="{{ path('app_provincia_index') }}">Volver</a>
{% endblock %}
