{% extends 'base.html.twig' %}

{% block title %}Provincia{% endblock %}

{% block body %}
    <h1>Provincia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ provincium.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_provincia_index') }}">Volver</a>

    <a href="{{ path('app_provincia_edit', {'id': provincium.id}) }}">Editar</a>

    {{ include('provincia/_delete_form.html.twig') }}
{% endblock %}
