{% extends 'base.html.twig' %}

{% block title %}Edit Estudiante{% endblock %}

{% block body %}
    <h1>Editar Estudiante</h1>

    {{ include('alumno/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_alumno_index') }}">Volver</a>

    {{ include('alumno/_delete_form.html.twig') }}
{% endblock %}
