{% extends 'base.html.twig' %}

{% block title %}Editar Tecnicatura{% endblock %}

{% block body %}
    <h1>Editar Tecnicatura</h1>

    {{ include('tecnicatura/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_tecnicatura_index') }}">Volver</a>

    {{ include('tecnicatura/_delete_form.html.twig') }}
{% endblock %}
