{% extends 'base.html.twig' %}

{% block title %}Nuena Tecnicatura{% endblock %}

{% block body %}
    <h1>Crear nueva Tecnicatura</h1>

    {{ include('tecnicatura/_form.html.twig') }}

    <a href="{{ path('app_tecnicatura_index') }}">Volver</a>
{% endblock %}
